<div style="border: 1px dashed black">
  <p style="text-align: center">Header</p>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand" routerLink="/" style="cursor: pointer"
        >Recipe Book</span
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAuthenticated">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/recipes"
              routerLinkActive="highlighted"
              >Recipes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/shopping-list"
              routerLinkActive="highlighted"
              >Shopping List</a
            >
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mx-lg-4 mb-lg-0">
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a
              class="nav-link"
              routerLink="/auth"
              routerLinkActive="highlighted"
              >Sign In</a
            >
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a
              class="nav-link"
              routerLink="/auth"
              routerLinkActive="highlighted"
              (click)="onSignOut()"
              >Sign Out</a
            >
          </li>
        </ul>
        <div class="dropdown" *ngIf="isAuthenticated">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li (click)="onSaveData()">
              <a class="dropdown-item">Save Data</a>
            </li>
            <li (click)="onFetchRecipes()">
              <a class="dropdown-item">Fetch Data</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
