/* You can add global styles to this file, and also import other style files */

// Colors
$button-grey: hsl(210, 8%, 95%);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlighted {
  font-weight: bold;
  background-color: $button-grey;
  box-shadow: 0px 5px 4px 2px $button-grey, 0px -5px 4px 2px $button-grey;
}
